*{
	margin: 0;
	padding: 0;
}
/* Конфишурация главного контейнера */
.main_container{
	width: 100%;
	height: 2300px;
}
/**************************************/

/* Настройка блока ХЕДЕРА */
.block_head{
	width: 100%;
	height: 33.3333333333%;
	background: url("../images/dog.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 
}
/**-*****************************/

/* Конфигурация блока меню */
/* Настройка онвного первого меню (Первых основных 4 - х пунктов) */
.menu{
	padding-right: 5%;
	opacity: 2;
}
.clinic_tab{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.clinic_tab li{
	float: right;
	/*border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;*/
}
.clinic_tab li > a{
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight:bold;
}
.clinic_tab li > a:hover{
	opacity: 0.4;
	/*border-bottom:3px solid #00008B;*/
	padding-bottom: 13%;
}
/* Прячем все подменю */
.clinic_tab li ul{
	display: none;
	width: 17.5%;
}
/*   //////////////////////////////////////////////////////////////////  */

/* Настраиваем выпадание всех ПОДМЕНЮ */
.clinic_tab li:hover ul{
	opacity: 1;
	display: block;
	list-style-type: none;
	margin-top: 0.1%;
	background-color: white;
	position: absolute;
	border-radius: 0 15px; 
}
.clinic_tab ul li > a {
	color: black;
}
.clinic_tab ul li a:hover{
	background-color: #1E90FF;
	color: white;
}
.clinic_tab ul li{
	width: 100%;
	float: left;
}
/**************** Конец когнфигурации меню **************** */

/* Конфигурация информационного блока в ХЕДЕРЕ */
.info_head_block{
	width: 100%;
	height: 93.5%;
}
.clinic_name{
	width: 33.3333%;
	height: 20%;
	margin: 12%;
}
.clinic_name > a{
	color: white;
	font-size: 200%;
	text-align: center;
}
/*********** Конец конфигурации ХЕДЕРА ***************/

/* Конфигурация блока БОДИ */
.block_body{
	width: 100%;
	height: 33.33333%;
}
.services{
	position: relative;
	width: 100%;
	height: 80%;
	margin-top: 5%;
}
/* Конфигурация контейнера услуг первого блока */
.services_container1{
	position: absolute;
	width: 30%;
	height: 100%; 
}
.services_container1 > .service{
	width: 100%;
	height: 47%;
	background: black;
	margin: 5%;
}
/* ************************************* */

/* Конфигурация контейнера услуг второго блока */
.services_container2{
	position: absolute;
	width: 30%;
	height: 100%;
	left: 33.5%;
}
.services_container2 > .service{
	width: 100%;
	height: 47%;
	background: black;
	margin: 5%;
}
/* ************************************************* */

/* Конфигурация контейнера услег третьего блока */
.services_container3{
	position: absolute;
	width: 30%;
	height: 100%;
	left: 67%;
}
.services_container3 > .service{
	width: 100%;
	height: 47%;
	background: black;
	margin: 5%;
}