*{
	margin: 0;
	padding: 0;
}
/* Конфишурация главного контейнера */
.main_container{
	width: 100%;
	height: 3000px;
}
/**************************************/

/* Настройка блока ХЕДЕРА */
.block_head{
	width: 100%;
	height: 28%;
	background: url("../images/dog.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 
}
/**-*****************************/

/* Конфигурация блока меню */
/* Настройка онвного первого меню (Первых основных 4 - х пунктов) */
.menu{
	padding-right: 5%;
	opacity: 2;
}
.clinic_tab{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.clinic_tab li{
	float: right;
}
.clinic_tab li > a{
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight:bold;
}
.clinic_tab li > a:hover{
	opacity: 0.4;
	padding-bottom: 13%;
}
/* Прячем все подменю */
.clinic_tab li ul{
	display: none;
	width: 17.5%;
}
/*   //////////////////////////////////////////////////////////////////  */

/* Настраиваем выпадание всех ПОДМЕНЮ */
.clinic_tab li:hover ul{
	opacity: 1;
	display: block;
	list-style-type: none;
	margin-top: 0.1%;
	background-color: white;
	position: absolute;
	border-radius: 0 15px; 
}
.clinic_tab ul li > a {
	color: black;
}
.clinic_tab ul li a:hover{
	background-color: #1E90FF;
	color: white;
}
.clinic_tab ul li{
	width: 100%;
	float: left;
}
/**************** Конец когнфигурации меню **************** */

/* Конфигурация информационного блока в ХЕДЕРЕ */
.info_head_block{
	width: 100%;
	height: 93.5%;
}
.clinic_name{
	width: 33.3333%;
	height: 20%;
	margin: 12%;
}
.clinic_name > a{
	color: white;
	font-size: 200%;
	text-align: center;
}
/*********** Конец конфигурации ХЕДЕРА ***************/

/* Конфигурация блока БОДИ */
.block_body{
	width: 100%;
	height: 28%;
}
.services{
	position: relative;
	width: 100%;
	height: 80%;
	margin-top: 5%;
}
/* Конфигурация контейнера услуг первого блока */
.services_container1{
	position: absolute;
	width: 30%;
	height: 100%; 
}
.services_container1 > .service{
	width: 100%;
	height: 47%;
	background: black;
	margin: 5%;
}
/* ************************************* */

/* Конфигурация контейнера услуг второго блока */
.services_container2{
	position: absolute;
	width: 30%;
	height: 100%;
	left: 33.5%;
}
.services_container2 > .service{
	width: 100%;
	height: 47%;
	background: black;
	margin: 5%;
}
/* ************************************************* */

/* Конфигурация контейнера услуг третьего блока */
.services_container3{
	position: absolute;
	width: 30%;
	height: 100%;
	left: 67%;
}
.services_container3 > .service{
	width: 100%;
	height: 47%;
	background: black;
	margin: 5%;
}
/* ********************************************* */
.button_services{
	width: 100%;
	height: 10%;
	margin-top: 3%;
}
.button_services > a{
	position: absolute;
	width: 15%;
	height: 5%;
	margin-top: 1.8%;
	margin-left: 42%;
	text-align: center;
	border-radius: 10px;
	border: 3px solid #1E90FF;
	text-decoration: none;
	color: #1E90FF;
	background: white;
}
.button_services > a > h4{
	margin-top: 6%;
}



/* Настройка блока КОНТАКТОВ и МАПЫ */
.block_contacts{
	position: relative;
	z-index:1;
	width: 100%;
	height: 28%;
}
/* Конфигурация блока МАПЫ */
.map{
	float: left;
	width: 48%;
	height: 90%;
	margin-top: 1%;
	margin-left: 1.4%;
	background: black;
}
/* Конфигурация блока контактов */
.contact_info{
	float: right;
	width: 48%;
	height: 90%;
	margin-top: 1%;
	margin-right: 1.4%; 
	/*background: black;*/
}
.contacts{
	width: 80%;
	margin: 15%;
}
.contacts h1{
	/*font: 250% sans-serif;*/
	/*font-size: 250%;*/
}
.contacts > p{
	margin-top: 2%;
}



/* Конфигурация блока ФУТЕРА */
.block_footer{
	position: relative;
	width: 100%;
	height: 15%;
	z-index:-2;
	background: black;
}
.info{
	margin-top: 25%;
	margin-left: 15%;
}
.info > .info_box{
	margin-top: 20%;
}
.info > .info_box > a{
	color: white;
}
.info > a {
	color: white;
	text-decoration: none;
	font:90% sans-serif;
}
.info > a > h4{
	font-weight:10;
	font: 105% serif;
	margin-top: 8%;
}
.footer_services{
	position: absolute;
	width: 25%;
	height: 100%;
}
.footer_clinic{
	position: absolute;
	width: 25%;
	height: 100%;
	left: 25%;
}
.footer_doctors{
	position: absolute;
	width: 25%;
	height: 100%;
	left: 50%;
}
.footer_contacts{
	position: absolute;
	width: 25%;
	height: 100%;
	left: 75%;
}